.container {
  padding: 0 1rem;
}
.inbox {
  margin-left: 177px;
}

.header {
  left: 0;
  margin: 0;
  padding-right: 0;
}

.select{
  float: left;
  display: center;
  margin-top: 20px;
  cursor: pointer;
}
.profile {
  float: left;
  margin-bottom: 10px;  
  padding-left: 30px;
  padding-right: 50px;
}
.from {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.subject {
  font-family: Arial, Helvetica, sans-serif;
}

.del {
  padding-bottom: 20px;
}

